{% if field.field.widget.input_type == 'checkbox' %} {{ field }} {% endif %} {%
if field.label %}
<label for="{{ field.id_for_label }}">
  {{ field.label }} {% if field.help_text %}
  <span>{{ field.help_text|safe }}</span>{% endif %}
</label>
{% endif %} {% if not field.field.widget.input_type == 'checkbox' %} {{ field }}
{% endif %} {% for error in field.errors %}
<span class="errorlist">
  <mark>{{ error }}</mark>
</span>
{% endfor %}
